.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 25px 0px 15px 0px;
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.39);
    position: relative;
    z-index: 1;
}