.banner__image{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    @media screen and (min-width: 768px){
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }
}
.expect{
    width: 100%;
    height: 240px;
    object-fit: cover;
    @media screen and (min-width: 768px){
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }
}

.menu{
    background-color: white;
    border-radius: 40px 40px 0px 0px;
    margin-top: -40px;
    position: relative;
    z-index: 1;
    @media screen and (min-width: 768px){
        padding: 0px 20%;
    }
    &__title{
        padding: 35px 30px 0px 20px;
        display: flex;
        justify-content: space-between;
        &--icon{
            font-size: 25px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px black;
            background-size: 25px 25px;
            -webkit-background-clip: text;
            background-position: 0 -25px;
            &:hover{
                background-image: -webkit-linear-gradient(-5deg, $color-primary, $color-secondary);
                animation: favoris .4s;
                animation-fill-mode: both;
                animation-timing-function: ease-in-out;
                cursor: pointer;
            }
        }
    }
    &__container{
        padding: 0px 20px;
    }
}
.categorie{
    &__title{
        text-transform: uppercase;
        font-weight: lighter;
        font-size: larger;
        margin-top: 40px
    }
    &__underline{
        @include menu-underline;
    }
}
body .menu__card{
    @include menu-card;
    animation: menuAppearance .6s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &--description{
        width: 70%;
        margin: 15px;
        & h3, p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &--price{
        display: flex;
        align-items: flex-end;
        margin-bottom: 15px;
        margin-right: -30px;
        font-weight: bold;
        color: #353535;
    }
    &--check{
        color: white;
        width: 0px;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
        background: $color-tertiary;
        &--icon{
            padding: 29px;
        }
    }
    &:hover{
        cursor: pointer;
    }
    &:hover .menu__card--check{
        width: 70px;
    }
      
}
.delay-1{
    animation: menuAppearance .6s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
}
.delay-2{
    animation: menuAppearance .6s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
}
.delay-3{
    animation: menuAppearance .6s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-delay: 0.6s;
}
.command{
    padding: 15px 40px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.command-button{
    display: flex;
    justify-content: center;
}

@keyframes menuAppearance {
    0% {
      margin-top: 25px;
      opacity: 0;
    }
    100% {
      margin-top: 15px;
      opacity: 1;
    }
  }

  @keyframes favoris {
	0% {
		transform: scale(0.7);
        opacity: 0;
	}
	100% {
		transform: scale(1);
        opacity: 1;
	}
}  