.banner__image{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    @media screen and (min-width: 768px){
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }
}

.menu{
    background-color: white;
    border-radius: 40px 40px 0px 0px;
    margin-top: -40px;
    position: relative;
    z-index: 1;
    @media screen and (min-width: 768px){
        padding: 0px 20%;
    }
    &__title{
        padding: 35px 30px 0px 20px;
        display: flex;
        justify-content: space-between;
        &--icon{
            font-size: 25px;
        }
    }
    &__container{
        padding: 0px 20px;
    }
}
.categorie{
    &__title{
        text-transform: uppercase;
        font-weight: lighter;
        font-size: larger;
        margin-top: 40px
    }
    &__underline{
        @include menu-underline;
    }
}
.menu__card{
    @include menu-card;
}
.command{
    padding: 12px 35px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.command-button{
    display: flex;
    justify-content: center;
}