@mixin centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow{
    box-shadow: 0px 10px 23px -10px rgba(0,0,0,0.63);
}

@mixin btn {
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 21px;
    font-size: 14px;
    background: linear-gradient(-5deg, $color-primary, $color-secondary);
    @include shadow;
    border: none;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 10px 19px -7px rgba(0,0,0,0.63);
        background: linear-gradient(-5deg, lighten($color-primary, 3%), lighten($color-secondary, 3%));
    }
}